<div id="<%= dom_id employee %>">
  <p>
    <strong>Firstname:</strong>
    <%= employee.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= employee.lastname %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= employee.dob %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

</div>
