<div id="<%= dom_id employee %>">
  <p>
    <strong>Firstname:</strong>
    <span><%= employee.firstname %></span>
  </p>

  <p>
    <strong>Lastname:</strong>
    <span><%= employee.lastname %></span>
  </p>

  <p>
    <strong>Dob:</strong>
    <span><%= employee.dob %></span>
  </p>

  <p>
    <strong>Gender:</strong>
    <span><%= employee.gender %></span>
  </p>

</div>
