<div id="<%= dom_id employment %>">
  <p>
    <strong>Hire date:</strong>
    <%= employment.hire_date %>
  </p>

  <p>
    <strong>Termination date:</strong>
    <%= employment.termination_date %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employment.department_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= employment.employee_id %>
  </p>

  <p>
    <strong>Payroll:</strong>
    <%= employment.payroll_id %>
  </p>

</div>
