<h1>Terminate Employment</h1>

<%= form_with(model: @employment, url: terminate_employment_post_path) do |form| %>
  <% if @employment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@employment.errors.count, "error") %> prohibited this employment from being saved:</h2>

      <ul>
        <% @employment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :termination_date, style: "display: block" %>
    <%= form.date_field :termination_date %>
  </div>

  <div>
    <%= form.submit "Terminate"%>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this employment", @employment %> |
  <%= link_to "Back to employments", employments_path %>
</div>
